// работающая конструкция блока:

// <h2 class="accent-title">
//     <span class="accent-title__text">Заголовок за которым предполагается линия</span>
// </h2>

$title-color: $black;
$title-bg-color: $white;
$title-font-size: rem(24);

$line-color: $base-green;
$line-weight: 2px;
$indent-to-line: 24px;


.accent-title {

  color: $title-color;
  position: relative;
  font-size: $title-font-size;
  font-weight: 400;
  line-height: 1.28;
  width: 100%;

  @include tablet {
    font-size: rem(36);
  }
}

.accent-title::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100vw;
  height: $line-weight;
  top: calc(1em - 1ex / 2);
  left: 50%;
  transform: translateX(-50%);
  background-color: $line-color;
}

.accent-title__text {
  display: inline-block;
  z-index: 2;
  position: relative;
  padding: 0 $indent-to-line;
  margin-left: -$indent-to-line;
  background-color: $title-bg-color;

  @include tablet {
    max-width: rem(380);
  }
}
