.assortment {
  @include section-wrapper;
}

.assortment__list {
  @include reset-list-style;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(60);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: rem(80);
  }
}
