.btn {
  display: block;
  font-size: rem(14);
  text-transform: uppercase;
  font-weight: 400;
  background-color: $base-green;
  color: $white;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border: none;

  @include tablet {
    font-size: rem(20);
  }
}

// .btn:hover {
//   background-color: $btn-hover-bg;
// }

// .btn:active {
//   background-color: $btn-active-bg;
//   color: rgba(255, 255, 255, 0.3);
// }

// .btn:disabled {
//   background-color: $btn-dsbled-bg;
//   color: #ffffff;
// }
