.btn {
  display: block;

  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: $base-green;
  color: $white;
  text-decoration: none;
  text-align: center;
  padding: rem(14);
  border: none;
}

// .btn:hover {
//   background-color: $btn-hover-bg;
// }

// .btn:active {
//   background-color: $btn-active-bg;
//   color: rgba(255, 255, 255, 0.3);
// }

// .btn:disabled {
//   background-color: $btn-dsbled-bg;
//   color: #ffffff;
// }
