.form {
  &__fields-wrapper {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: rem(80);
      grid-column-gap: rem(80);
      grid-row-gap: rem(40);
    }
  }

  &__introduce {
    padding-top: rem(24);
    padding-bottom: rem(24);

    @include tablet {
      padding: 0;
      margin-bottom: rem(72);
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__impressions {
    padding-top: rem(22);
    padding-bottom: rem(19);

    @include tablet {
      padding: rem(25);
      margin-bottom: rem(71);
      border: 1px solid $light-gray;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__contact {
    padding-top: rem(26);
    padding-bottom: rem(22);

    @include tablet {
      padding: 0;
      margin-bottom: rem(65);
      // border: 1px solid $light-gray;
    }

    @include desktop {
      margin-bottom: rem(67);
    }
  }
}

