.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__pic {
  width: rem(33);
  height: rem(37);

  @include tablet {
    width: rem(174);
    height: rem(52);
  }

  @include desktop {
    width: rem(202);
    height: rem(59);
  }
}

.logo__pic-title {
  @include tablet {
    display: none;
  }
}
