.main-nav {
  @include wrapper;

  @include tablet {
    display: flex;
    justify-content: space-between;
    // padding: rem(25) rem(30);
    padding: rem(25) calc(30 / 768 * 100%);
  }

  @include desktop {
    padding: rem(55) 0 rem(30);
  }
}

.main-nav__togles-wrapper {
  border-bottom: 1px solid $light-gray-sec;
  padding: rem(12) calc(20 / 320 * 100%) rem(17);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    border: none;

    @include padding-resset;
  }
}

.main-nav__togle-menu {
  @include tablet {
    display: none;
  }
}
