.main-footer {
  background-color: $pale-gray;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include section-wrapper;

  @include tablet {
    padding-bottom: rem(56);
    flex-direction: row;
    padding-top: rem(57);
  }
}

.main-footer__item {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $whity-gray;

  @include tablet {
    border: none;
    width: calc(100 / 3) * 1%;
    padding: 0;
  }
}

.main-footer__item:last-child {
  border: none;
}

.main-footer__logo-link {
  padding-top: rem(39);
  padding-bottom: rem(32);
  text-align: center;

  @include tablet {
    padding: 0;
    text-align: left;
  }
}

.main-footer__devs-link {
  text-decoration: none;
  color: $black;
  padding: rem(22) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 0;
    justify-content: flex-end;
    width: calc(100 / 3) * 1%;
  }
}

.main-footer__devs {
  font-size: rem(16);

  @include tablet {
    margin-right: rem(20);
  }
}

.main-footer__devs-link:hover .main-footer__devs-logo {
  fill: $base-green;
}

.main-footer__devs-link:hover .main-footer__devs {
  color: $off-black;
}
