
.miracles {
    width: min-content;
    margin: 0  auto;
    @include tablet { 
        display: flex;
        width: rem(calc(296 * 2));
        height: rem(511);
        
        &__pic-wrapper {
        overflow: hidden;
        width: 50%;
    }
}

    &__pic-wrapper--became {
        @include mobile-only {
            display: none;    
            }
    }

    &__pic-wrapper--it-was &__pic {
        
        height: auto;

        @include tablet {   

            width: rem(677);

            transform: translate(-5%);
        }

    }

    &__pic-wrapper--it-was {
        @include mobile-only {
            width: 100%;
        }
    }
    
    
    &__pic-wrapper--became &__pic {
            width: rem(545);
            transform: translate(-48%);
    }

    &__pic {
        max-width: initial;
        height: 100%;
        max-width: none;
    }


}