.page {
  min-width: rem(210);
  height: 100%;
  background: $white;
}

.page-body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  font-family: "oswaldR", "Arial", sans-serif;
  background: $white;
  color: $black;
@include common-text;
  @include wrapper;
  font-weight: 400;
}

.page-body__header {
  grid-area: header;
  min-height: rem(56);
}

.page__content {
  grid-area: content;
}

.page-body__footer {
  grid-area: footer;
}
