.page-body {
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  font-family: "oswaldR", "Arial", sans-serif;
  background: $white;
  color: $black;
  font-weight: 400;
  line-height: calc(18 / 14);

  @include tablet {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.page-body--index {
  grid-template-areas:
    "header-wraper"
    "content"
    "footer";
}

.page__promo {
  z-index: 1;
}

.page-body__header-wrapper {
  z-index: 2;
  grid-area: header-wraper;
  position: relative;
}


.page-body__header-wrapper::before {
  @include desktop {
    z-index: 0;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $green-promo-bg;
    background-image: url("../img/background/desktop-cat-bg.jpg");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/desktop-cat-bg@2x.jpg");
    }
  }
}

.page-body__header {
  position: relative;
  z-index: 2;
  grid-area: header;
  min-height: rem(56);
}

.page__content {
  grid-area: content;
}


.page-body__footer {
  grid-area: footer;
}
