
.procedure {
@include section-wrapper;

&__heading {
        font-size: rem(36);
        font-weight: 400;

        @include tablet {
            font-size: rem(60);
        }
    }

    &__list {
        counter-reset: procedur-count;
        position: relative;

        @include reset-list-style;
        padding-top: rem(35);
        padding-bottom: rem(35);

        @include tablet {
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            grid-column-gap: rem(60);
        }

        @include desktop {
            grid-template-columns: repeat(4 , minmax(rem(245), 1fr));
            grid-column-gap: rem(60);
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        counter-increment: procedur-count;
        padding-top: calc(10 / 320 * 100vw);
        padding-bottom: calc(10 / 320 * 100vw);
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            align-items: flex-start;
            padding-top: rem(45);
            padding-bottom: rem(94);
            flex-direction: column;
        }

    }
    
    &__item::before {

        @include tablet {
        @include pseudo-el;
        content: counter(procedur-count);
        display: block;
        position: absolute;
        color: $pale-gray;
        top: 50%;
        left: 50%;
        transform:translate(-55px,-140px);
        font-size: rem(280);
        line-height: 0.9;

        @include desktop {
            left: auto;
            top: 0;
            right: 0;
            transform:translate(0, 0);
        }
    }
}
    &__item::after {
        order: 1;
        position: relative;
        @include pseudo-el;

        padding: rem(30);
        background-color: $base-green;
        background-image: url('../img/icons/sprite/leaf.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 25px;
        margin-right: rem(20);
        // margin-right: calc(20 / 300 * 100%);

        @include tablet {
            margin-bottom: rem(31);
        }
    }

    &__desc {
        order: 2;
        position: relative;
        width: 100%;
        max-width: rem(250);
        line-height: calc(18 / 14);
        
        @include tablet {
            max-width: rem(205);
            line-height: calc(24 / 16);
        }
    }

}
