.range-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: space-between;
}

.range-bar__btn {
  text-transform: uppercase;
  border: none;

  background-color: transparent;

  @include tablet {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: $base-gray;
    text-underline-offset: 3px;
  }
}

.range-bar__btn:hover {
  opacity: 0.7;
  cursor: pointer;

  @include tablet {
    opacity: 1;
    text-decoration-style: solid;
  }
}

.range-bar__btn:active {
  opacity: 0.5;

  @include tablet {
    opacity: 1;
    text-decoration: none;
  }
}

.range-bar__strip {
  display: none;

  @include tablet {
    margin-left: rem(20);
    margin-right: rem(20);
    display: initial;
    appearance: none;
    outline: none;
    border-radius: 3px;
    height: 4px;
    background-color: $base-gray-two;
    flex-grow: 1;
  }
}

.range-bar__pseudo-strip {
  margin-left: rem(15);
  margin-right: rem(15);
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid $base-gray;
  background-color: $white;
  width: 100%;

  @include tablet {
    display: none;
  }
}

.range-bar__pseudo-strip::after {
  z-index: 3;
  display: flexbox;
  content: "";
  height: 6px;
  width: 50%;
  background-color: $base-green;
  border-radius: 6px;
}

.range-bar__strip::-webkit-slider-thumb {
  appearance: none;
  width: 34px;
  height: 34px;
  box-shadow: 0 0 5px rgba($black, 0.3);
  border: 13px solid $white;
  background-color: $base-green;
  border-radius: 50%;
  cursor: pointer;
}

.range-bar__strip::-webkit-slider-thumb:hover {
  box-shadow: 0 0 10px rgba($black, 0.3);
}

.range-bar__strip::-webkit-slider-thumb:active {

  box-shadow: 0 0 5px rgba($black, 0.3);
  border: 13px solid $white;
  background-color: $base-green;
  border-radius: 50%;
  cursor: pointer;
}
