$place-holder-clr: $off-black;
$field-border-clr: $light-gray;
$field-bg: $white;
$select-bg: $white;
$select-border: $very-pale-gray;
$select-border-hover: $very-pale-gray;
$select-thing-clr: $base-green;


.reception {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.reception__label {
  padding-left: rem(16);
}

.reception__label--choose {
  font-weight: bold;
  font-size: rem(18);
  padding-left: 0;
}

.reception__field {
  padding: rem(16);
  margin: 0;
  border: 1px solid $light-gray;
  background-color: $field-bg;
  color: black;
  font-weight: bold;
  font-size: rem(18);
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.reception__field::placeholder {
  color: $off-black;
}

.reception__field:hover {
  background-color: rey;
}

.reception__field:active {
  background-color: white;
  border-color: grey;
}

.reception__pic-wraper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.reception__pic {
  background-color: grey;
  flex-basis: rem(58);
  flex-grow: 0;
  flex-shrink: 0;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reception__choose {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.reception__thing {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: rem(46);
  height: rem(46);
  background-color: $white;
  margin-right: rem(16);
  border-radius: 4px;
  border: 1px solid $light-gray;
}

.reception__thing:hover {
  border: 1px solid red;
}


.reception__thing--radio {
  border-radius: 50%;
}

.reception__thing::after {
  display: inline-block;
  margin: 0 auto;
  content: "";
  opacity: 0;
}

.reception__thing--radio::after {
  width: rem(14);
  height: rem(14);
  border-radius: 50%;
  border: none;
  background-color: $select-thing-clr;
}

.reception__thing--checkbox::after {
  width: rem(20);
  height: rem(14);
  border-bottom: 3px solid $select-thing-clr;
  border-left: 3px solid $select-thing-clr;
  transform: rotate(315deg);
}

.reception__choose:checked + .reception__label > .reception__thing::after {
  opacity: 1;
}

// .reception__choose:focus + .reception__label {
//  @include show-outline($base-gray);
// }

.reception__label:hover .reception__thing {
  // background-color: grey;
}

// .reception__label:active .reception__thing--radio::after {
//   background-color: rgba(black, 0.3);
// }

// .reception__label:active .reception__thing--checkbox::after {
//   border-color: rgba(#000000, 0.3);
// }
