.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding: rem(22) 0 rem(12);
  justify-content: center;

  @include tablet {
    padding: 0;
    margin-bottom: rem(-10);
  }

  &__item {
    @include reset-list-style;
    margin-bottom: rem(10);
  }

  &__item:not(:last-of-type) {
    margin-right: rem(24);
  }

  &__item:hover &__item-pic {
    fill: $base-green;
  }

  &__item:active &__item-pic {
    opacity: 0.5;
  }

  &__item-pic {
    margin: 0;
    padding: 0;
  }
}
