// devices
$mobile-width: 320px;
$mobile-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// colors
$white: #ffffff;
$black: #000000;
$base-green: #68b738;
$green-darker: #5eaa2f;
$base-gray: #cdcdcd;
$pale-gray:#f2f2f2;
$light-gray: #ebebeb;
$dark-gray: #666666;
$off-black: #444444;
$graphite-black: #222222;
$status-error: #ff8282;

// font parametrs
$initial-font-size: 16;
$root-font-size: 14;
$common-line-height: 1.5;
$heading-line-height: 1.86;

